<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Brands</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
  <style>
    .sidebar {
      min-height: 100vh;
      background-color: #1a1a1a;
      color: white;
    }

    .sidebar .nav-link {
      color: #ffffff;
      padding: 0.8rem 1rem;
      opacity: 0.8;
    }

    .sidebar .nav-link:hover {
      opacity: 1;
      background: rgba(255, 255, 255, 0.1);
    }

    .sidebar .nav-link.active {
      background: rgba(255, 255, 255, 0.1);
      opacity: 1;
    }

    .brand-logo {
      width: 100px;
      height: 60px;
      object-fit: contain;
      border-radius: 5px;
    }

    .table td {
      vertical-align: middle;
    }

    .form-style {
      position: relative;
      font-size: 15px;
    }

    .form-style span {
      position: absolute;
      left: 55%;
      bottom: 3px;
      font-size: small;
    }

    #submit-error {
      color: red;
      font-size: small;
    }

    #editsubmit-error {
      color: red;
      font-size: small;
    }

    .form-style span i {
      color: seagreen;
      font-size: 15px;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">

      <%- include('../partials/adminSidebar.ejs') %>

      <div class="col px-4 py-3">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h2>Brands</h2>
          <div class="d-flex gap-3 align-items-center">
            <div class="search-box">
              <input type="text" id="brandSearch" value="<%= search || '' %>" class="form-control" placeholder="Search brands" />
            </div>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBrandModal">
              <i class="bi bi-plus-lg me-2"></i>Add Brand
            </button>
          </div>
        </div>


        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Brand Name</th>
                <th>Description</th>
                <th>Products Count</th>
                <th>Origin</th>

                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="brandTable">
              <% if (brands && brands.length > 0) { %> <%
                brands.forEach(function(brand) { %>
              <tr>
                <td><%= brand.name %></td>
                <td><%= brand.description %></td>
                <td><%= brand.productCount %></td>
                <td><%= brand.origin %></td>

                <td>
                  <button class="btn btn-sm btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editBrandModal<%= brand._id %>">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <div class="modal fade" id="editBrandModal<%= brand._id %>" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Edit Brand</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <form id="editBrandForm-<%= brand._id %>"onsubmit="return submitEditBrand('<%= brand._id %>', '<%= search %>', <%= currentPage %>)">

                            <div class="mb-3 form-style">
                              <label class="form-label">Brand Name</label>
                              <input type="text" class="form-control" name="name" value="<%= brand.name %>" id="brandeditName<%= brand._id %>" onkeyup="validateEditName('<%= brand._id %>')" />
                              <span id="editname-error-<%= brand._id %>" style="color: red"></span>
                            </div>

                            <div class="mb-3 form-style">
                              <label class="form-label">Description</label>
                              <textarea class="form-control" name="description" value="<%= brand.description %>" rows="3" id="brandEditDescription<%= brand._id %>" onkeyup="validateEditDescription('<%= brand._id %>')">
                                    <%= brand.description %></textarea>
                              <span id="editdescription-error-<%= brand._id %>" style="color: red"></span>
                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Cancel
                              </button>
                              <button type="submit" class="btn btn-primary">
                                Save Changes
                              </button>
                              <div>
                                <p id="editsubmit-error"></p>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <form action="/admin/brand/toggle-list/<%= brand._id %>" method="post" style="display: inline">
                    <% if (brand.length > 0) { %> <% if (brand.isListed) { %>

                    <button class="btn btn-sm btn-outline-danger">
                      <i class="bi bi-dash-circle"></i>
                    </button>
                    <% } else { %>

                    <button class="btn btn-sm btn-outline-success">
                      <i class="bi bi-plus-circle"></i>
                    </button>
                    <% } %> <% } else { %> <% if (brand.isListed) { %>

                    <button class="btn btn-sm btn-outline-danger">
                      <i class="bi bi-dash-circle"></i>
                    </button>
                    <% } else { %>

                    <button class="btn btn-sm btn-outline-secondary">
                      <i class="bi bi-plus-circle"></i>
                    </button>
                    <% } %> <% } %>
                  </form>
                </td>
              </tr>
              <% }); %> <% } else { %>
              <tr>
                <td colspan="7" class="text-center">No brands available</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation" class="mt-4">
          <ul class="pagination justify-content-center">
            <li class="page-item <%= currentPage===1?'disabled':'' %>">
              <a class="page-link" href="/admin/brand?page=<%= currentPage-1 %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a class="page-link" href="/admin/brand?page=<%= i %>"><%= i %></a>
            </li>
            <% } %>
            <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
              <a class="page-link" href="/admin/brand?page=<%= currentPage + 1 %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- Add Brand Modal -->
  <div class="modal fade" id="addBrandModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add New Brand</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form id="addBrandForm">
            <div class="mb-3 form-style">
              <label class="form-label">Brand Name</label>
              <input type="text" class="form-control" name="name" id="brandName" onkeyup="validateName()" />
              <span id="name-error" style="color: red"></span>
            </div>

            <div class="mb-3 form-style">
              <label class="form-label">Description</label>
              <textarea class="form-control" name="description" rows="3" id="brandDescription" onkeyup="validateDescription()"></textarea>
              <span id="description-error" style="color: red"></span>
            </div>
            <div class="mb-3 form-style">
              <label class="form-label">Origin Country</label>
              <input type="text" class="form-control" name="origin" id="brandOrigin" onkeyup="validateOrigin()" />
              <span id="origin-error" style="color: red"></span>
            </div>
            <div class="mb-3">
              <label class="form-label">Status</label>
              <select class="form-select" name="status">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" form="addBrandForm" class="btn btn-primary">
            Add Brand
          </button>
          <div>
            <p id="submit-error"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const searchInput = document.getElementById("brandSearch");

    let searchTimeout;
    searchInput.addEventListener("input", () => {
      clearTimeout(searchTimeout);
      searchTimeout = setTimeout(() => {
        const searchValue = searchInput.value.trim();
        const url = new URL(window.location.href);
        url.searchParams.set("search", searchValue);
        url.searchParams.set("page", "1");
        window.location.href = url.toString();
      }, 300);
    });

    document.getElementById('addBrandForm').addEventListener('submit', async function (e) {
    e.preventDefault();

    const name = document.getElementById('brandName').value.trim();
    const description = document.getElementById('brandDescription').value.trim();
    const origin = document.getElementById('brandOrigin').value.trim();
    const status = document.querySelector('select[name="status"]').value;

    const response = await fetch('/admin/brand/add', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ name, description, origin, status })
    });

    const result = await response.json();

    if (!result.success) {
      document.getElementById('submit-error').textContent = result.message;
    } else {
      
      document.getElementById('submit-error').textContent = '';
      const modal = bootstrap.Modal.getInstance(document.getElementById('addBrandModal'));
      modal.hide();
      location.reload()
      
    }
  });
 
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("form[id^='editBrandForm']").forEach((form) => {
      form.addEventListener("submit", async function (e) {
        e.preventDefault();

        const formId = this.id.replace("editBrandForm-", "");
        const brandId = formId;
        const name = document.getElementById("brandeditName" + formId).value.trim();
        const description = document.getElementById("brandEditDescription" + formId).value.trim();
        const search = "<%= search %>";
        const page = "<%= currentPage %>";

        const response = await fetch(`/admin/brand/edit/${brandId}?search=${encodeURIComponent(search)}&page=${page}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ name, description }),
        });

        const result = await response.json();

        if (result.success) {
          const modal = bootstrap.Modal.getInstance(document.getElementById("editBrandModal" + formId));
          modal.hide();
          location.reload();
        } else {
          document.getElementById("editsubmit-error").textContent = result.message;
        }
      });
    });
  });




    function validateEditName(id) {
  const name = document.getElementById(`brandeditName${id}`).value.trim();
  const errorSpan = document.getElementById(`editname-error-${id}`);
  if (name.length === 0) {
    errorSpan.textContent = "Brand name is required.";
    return false;
  }
  if (name.length < 3) {
    errorSpan.textContent = "At least 3 characters required.";
    return false;
  }
  if (!/^[A-Za-z][A-Za-z0-9\s.]*$/.test(name)) {
    errorSpan.textContent = "Invalid brand name.";
    return false;
  }
  errorSpan.innerHTML = '<i class="bi bi-check-circle-fill"></i>';
  return true;
}

function validateEditDescription(id) {
  const desc = document.getElementById(`brandEditDescription${id}`).value.trim();
  const errorSpan = document.getElementById(`editdescription-error-${id}`);
  if (desc.length < 10) {
    errorSpan.textContent = "At least 10 characters required.";
    return false;
  }
  errorSpan.innerHTML = '<i class="bi bi-check-circle-fill"></i>';
  return true;
}

function validateEditBrand(id) {
  const isNameValid = validateEditName(id);
  const isDescValid = validateEditDescription(id);

  if (!isNameValid || !isDescValid) {
    document.getElementById("editsubmit-error").textContent = "Please fix the errors before submitting.";
    return false;
  }

  document.getElementById("editsubmit-error").textContent = "";
  return true;
}

//validation for add brand

function validateName() {
  const name = document.getElementById("brandName").value.trim();
  const errorSpan = document.getElementById("name-error");

  if (name.length === 0) {
    errorSpan.textContent = "Brand name is required.";
    return false;
  }
  if (name.length < 3) {
    errorSpan.textContent = "At least 3 characters required.";
    return false;
  }
  if (!/^[A-Za-z][A-Za-z0-9\s.]*$/.test(name)) {
    errorSpan.textContent = "Invalid brand name.";
    return false;
  }
  errorSpan.innerHTML = '<i class="bi bi-check-circle-fill"></i>';
  return true;
}


function validateDescription() {
  const desc = document.getElementById("brandDescription").value.trim();
  const errorSpan = document.getElementById("description-error");

  if (desc.length < 10) {
    errorSpan.textContent = "At least 10 characters required.";
    return false;
  }
  errorSpan.innerHTML = '<i class="bi bi-check-circle-fill"></i>';
  return true;
}


function validateOrigin() {
  const origin = document.getElementById("brandOrigin").value.trim();
  const errorSpan = document.getElementById("origin-error");

  if (origin.length === 0) {
    errorSpan.textContent = "Origin country is required.";
    return false;
  }
  if (!/^[A-Za-z\s]+$/.test(origin)) {
    errorSpan.textContent = "Only alphabets allowed.";
    return false;
  }
  errorSpan.innerHTML = '<i class="bi bi-check-circle-fill"></i>';
  return true;
}


function validateBrand() {
  const isNameValid = validateName();
  const isDescValid = validateDescription();
  const isOriginValid = validateOrigin();

  if (!isNameValid || !isDescValid || !isOriginValid) {
    document.getElementById("submit-error").textContent = "Please fix the errors before submitting.";
    return false;
  }

  document.getElementById("submit-error").textContent = "";
  return true;
}
  </script>
  <script src="/script/sidebar.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>