<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
      <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"

    />
  
    <link rel="stylesheet" href="/sidebar.css">
      <link rel="stylesheet" href="/home.css">
      <link rel="stylesheet" href="/userSignup.css">
   
</head>
<body>
     <!-- Header -->
   <%- include('../partials/nav.ejs') %>
   <!-- navbar -->
   <div class="box">
     <div class="item">
       <a href="/">Home</a>
       <a href="/category">Category</a>
       <a href="/brand">Brand</a>
       <a href="">About us</a>
       <a href="">Contact us</a>
     </div>
     <%- include('../partials/header.ejs') %>
   </div>
    <div class="container-fluid">
        <div class="row">
          <!-- Left Sidebar -->
          <div class="col-md-3 col-lg-2 sidebar">
            <div class="avatar"><%= user.username.charAt(0).toUpperCase() %></div>
            <div class="mb-2"><%= user.username %></div>
            <% if(user.bonusPoints>0){ %>
                <div class="bonus-badge mb-4">🎁 <%= user.bonusPoints %> bonuses available</div>
                <% } %>
            
            <nav class="nav flex-column">
                <a class="nav-link active" href="#"><i class="bi bi-bag"></i> Orders</a>
                <a class="nav-link" href="/wishlist"><i class="bi bi-heart"></i> Wishlist</a>
                <a class="nav-link" href="#"><i class="bi bi-wallet2"></i> Wallet</a>
                
                <div class="mt-4 mb-2 text-muted">Manage account</div>
                <a class="nav-link"  href="/profile"><i class="bi bi-person"></i> Personal info</a>
                <a class="nav-link" href="/address"><i class="bi bi-geo-alt"></i> Addresses</a>
                
                <div class="mt-4 mb-2 text-muted">Customer service</div>
                <a class="nav-link" href="#"><i class="bi bi-question-circle"></i> Helps</a>
                <a class="nav-link" href="#"><i class="bi bi-info-circle"></i> About us</a>
                
                <a class="nav-link mt-4" href="/logout"><i class="bi bi-box-arrow-right"></i> Log out</a>
            </nav>
        </div>

       <!--order details table-->
       
       <div class="col-md-9 col-lg-10">
        <% if(orders.length){ %>
       <div class="table-responsive">
        <table class="table bg-white rounded">
          <thead>
            <tr>
              <th>OrderId</th>
              <th>Date</th>
              <th>Status</th>
              <th>Total</th>
              <th>Order Items</th>
            </tr>
          </thead>
          <tbody id="userTable">
            <% orders.forEach((order, index) => { %>
            <tr>
              
              <td><%= order.orderId %></td>
              <td><%= order.estimateDelivery.toLocaleDateString('en-IN',{dateStyle:'long'}) %></td>
              <td><%= order.orderStatus %></td>
              <td>₹<%= order.totalAmount %></td>
              <td>
                
                  <a href="/orderDetails/<%= order._id %>" style="text-decoration: none;">
                  <img src="<%= order.products[0].images %>" alt="Product Image" style="width: 50px; height: 50px; object-fit: cover;"> ></a>
               
              </td>
            </tr>
            <% }); %>

            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>
      <% }else{ %>
        <div style="margin-left: 35%;margin-top: 50px;">
        <img src="/image/empty-box.svg" alt="">
        <h4>No Recent Orders</h4>
        <p style="margin-left: -50px;">Looks like you haven’t made any order yet</p>
       <a href="/"> <button style="background-color: purple;border: none;color: white;padding: 10px 150px;margin-left: -120px;">Continue Shopping</button></a>
        <% } %>
      </div>
      </div>
     

        <!-- footer -->

    <%- include('../partials/footer') %>  
</body>
</html>