<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Wallet</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="/userSignup.css">
  <link rel="stylesheet" href="/userBrand.css">
  <link rel="stylesheet" href="/search.css">
  <link rel="stylesheet" href="/sidebar.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;

    }

    .wallet-container {
      max-width: 1150px;
      margin-left: 5%;
      margin-top: 20px;
      background: white;
      padding: 20px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .balance {
      font-size: 24px;
      font-weight: bold;
      color: green;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #845890;
      color: white;
    }
  </style>
</head>

<body>

  <%- include('../partials/nav.ejs') %>

  <div class="box">
    <div class="item">
      <a href="/">Home</a>
      <a href="/category">Category</a>
      <a href="/brand">Brand</a>
      <a href="">About us</a>
      <a href="">Contact us</a>
    </div>
    <%- include('../partials/header.ejs') %>
  </div>
  <div class="container-fluid ">
    <div class="row">

      <div class="col-md-3 col-lg-2 sidebar">
        <div class="avatar"><%= user.username.charAt(0).toUpperCase() %></div>
        <div class="mb-2"><%= user.username %></div>
        <% if(user.bonusPoints>0){ %>
        <div class="bonus-badge mb-4">🎁 <%= user.bonusPoints %> bonuses available</div>
        <% } %>

        <nav class="nav flex-column">
          <a class="nav-link " href="/orders"><i class="bi bi-bag"></i> Orders</a>
          <a class="nav-link " href="/wishlist"><i class="bi bi-heart"></i> Wishlist</a>
          <a class="nav-link active" href="#"><i class="bi bi-wallet2"></i> Wallet</a>

          <div class="mt-4 mb-2 text-muted">Manage account</div>
          <a class="nav-link" href="/profile"><i class="bi bi-person"></i> Personal info</a>
          <a class="nav-link" href="/address"><i class="bi bi-geo-alt"></i> Addresses</a>

          <div class="mt-4 mb-2 text-muted">Customer service</div>
          <a class="nav-link" href="#"><i class="bi bi-question-circle"></i> Helps</a>
          <a class="nav-link" href="#"><i class="bi bi-info-circle"></i> About us</a>

          <a class="nav-link mt-4" href="/logout"><i class="bi bi-box-arrow-right"></i> Log out</a>
        </nav>
      </div>



      <div class="wallet-container">
        <h2>My Wallet</h2>
        <p class="balance">Balance: ₹<%= wallet.balance.toFixed(2) %></p>

        <h3>Transaction History</h3>
        <% if (transactions.length > 0) { %>
        <table>
          <thead>
            <tr>
              <th>TransactionId</th>
              <th>OrderId</th>
              <th>Amount</th>
              <th>Description</th>
              <th>Type</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% transactions.forEach(transaction => { %>
            <tr>
              <td><%=transaction._id %></td>
              <td><%= transaction.order_id %></td>
              <td>₹<%= transaction.transaction_amount.toFixed(2) %></td>
              <td><%= transaction.description %></td>
              <td><%= transaction.transaction_type %></td>
              <td><%= transaction.transaction_date.toLocaleDateString() %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <p>No transactions found.</p>
        <% } %>
        <nav aria-label="Page navigation" class="mt-4">
          <ul class="pagination justify-content-center">
            <li class="page-item <%= currentPage===1?'disabled':'' %>">
              <a class="page-link" href="/wallet?page=<%= currentPage-1 %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a class="page-link" href="/wallet?page=<%= i %>"><%= i %></a>
            </li>
            <% } %>
            <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
              <a class="page-link" href="/wallet?page=<%= currentPage + 1 %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <%- include('../partials/footer') %>

      <script src="/script/search.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>